@page
@model Group_Project.Pages.BillingModel
@{
    ViewData["Title"] = "Billing";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<form method="post">

    <label>Account Balance</label> <label>$1200.00</label><br />
    <!--Nothing to connect to yet-->

    <label>Amount Due </label><label>@Html.DisplayFor(model => model.User.AmmountDue)</label><br />

    <label>Full Name</label>
    <input class="form-control" />

    <label>Credit Card #</label>
    <input class="form-control" />

    <label>Security Code</label>
    <input class="form-control" />

    <label>Expiration Date</label>
    <input class="form-control" />
    <!--Currently just a standard input box probably should change to a date picker when this is made functional-->

    <label>Payment Amount</label>
    <input class="form-control" />

    <input type="submit" value="Submit" /><br />
</form>