@page
@model Group_Project.Pages.SignupModel
@{
    ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <label asp-for="user.Email" class="control-label">Username</label>
    <input asp-for="user.Email" class="form-control" />

    <label asp-for="user.Passwrd">Password</label>
    <input asp-for="user.Passwrd" class="form-control">

    <label asp-for="user.FirstName">First Name</label>
    <input asp-for="user.FirstName" class="form-control">

    <label asp-for="user.LastName">Last Name</label>
    <input asp-for="user.LastName" class="form-control">

    <label asp-for="user.Birthdate">Birth Date</label>
    <input asp-for="user.Birthdate" class="form-control">

    <input type="submit" value="Submit" /><br />
</form>