@page
@model Group_Project.Pages.Stripe.StripeTestModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/StripeTestStyle.css" />

<h1>Stripe Test</h1>

<label for="cardNumberInput">Last 4 of Card Number</label>
<input type="text" class="cardNumberInput" value=@Model.stripeToken.Card.Last4 />

<label for="expirationMonth">Expiration Month</label>
<input type="number" class="expirationMonth" value=@Model.stripeToken.Card.ExpMonth />

<label for="expirationYear">Expiration Year</label>
<input type="number" class="expirationYear" value=@Model.stripeToken.Card.ExpYear />

<label for="cvcCode">Enter CVC Code</label>
<input type="number" class="cvcCode" value=@Model.stripeToken.Card.CvcCheck/>


<input type="button" class="requestTokenButton" onclick="" value="Request For Token" />

<input type="text" class="stripeToken" value=@Model.stripeToken.Id/>