@page
@model Group_Project.Pages.Stripe.StripeTestModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/StripeTestStyle.css" />

<h1>Stripe Test</h1>

<label for="cardNumberInput">Last 4 of Card Number</label>
<input type="text" class="cardNumberInput" value="" />

<label for="expirationMonth">Expiration Month</label>
<input type="number" class="expirationMonth" value=1 />

<label for="expirationYear">Expiration Year</label>
<input type="number" class="expirationYear" value=1/>

<label for="cvcCode">Enter CVC Code</label>
<input type="number" class="cvcCode" value=1/>


<input type="button" class="requestTokenButton" onclick="" value="Request For Token" />

<input type="text" class="stripeToken" value=""/>